/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

body {
  background-color: grey;
  max-width: 450px;
  max-height: 700px; }

.container {
  width: 450px;
  height: 700px;
  background-color: rgba(220, 254, 255, 0.733); }

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 5px; }

.logo {
  width: 90px;
  height: 30px;
  margin-left: 120px; }

.clear {
  clear: both; }

.fa-bars {
  padding-left: 5px; }

.fa-user-tie {
  padding-right: 5px; }

.fas {
  font-size: 30px; }

.fa-bell {
  padding-left: 100px;
  font-size: 30px; }

.balance {
  margin-left: 10px;
  margin-top: 20px; }

.dollar {
  font-size: 40px; }

.box1 {
  display: flex; }

.add {
  margin-left: 120px;
  margin-top: 18px; }

.fa-hand-holding-usd {
  font-size: 40px;
  margin-left: 15px; }

.money {
  font-size: 20px; }

.box2 {
  display: flex;
  margin-top: 30px; }

.fa-umbrella {
  margin-left: 15px; }

.fa-exchange-alt {
  margin-left: 15px; }

.fa-question-circle {
  margin-left: 10px; }

.far {
  font-size: 30px; }

.icon {
  margin: 23px; }

.location {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600; }

.map {
  width: 98%;
  height: 250px;
  margin: 1%; }

.lastbox {
  display: flex;
  margin-top: 30px;
 }

.fab {
  font-size: 30px; }

.icons {
  margin: 17px; }

.card {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap; }

.fa-file-alt {
  margin-left: 5px; }

.fa-compress-arrows-alt {
  margin-left: 20px; }

.fa-cc-visa {
  margin-left: 15px; }

.fa-cog {
  margin-left: 5px; }
